.select-none {
	user-select: none;
}

.absolute {
	position: absolute;
}

body {
	color: #eee;
	background: black;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
